@font-face {
	font-family: Francois One;
	src: local("Francois One Regular"), local("FrancoisOne-Regular"), url(http://fonts.gstatic.com/s/francoisone/v8/bYbkq2nU2TSx4SwFbz5sCHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
