@font-face {
	font-family: Quattrocento;
	src: local("Quattrocento"), url(http://fonts.gstatic.com/s/quattrocento/v7/WZDISdyil4HsmirlOdBRFHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
